streamlit
pandas
numpy
matplotlib
seaborn
scikit-learn
openai
python-dotenv
plotly
requests
openpyxl
pyarrow==14.0.1
zstandard==0.21.0
fastparquet
simplejson
streamlit-folium
folium
geopandas
statsmodels
scipy
markdown